p{
    display: flex;
    flex-direction: column;
    width:50%;
    border-right: 15px;
}
.column1{
    display: flex;
    width:100%;
    flex-direction:row;
}
.colunm1-1{
display:flex;
flex-direction: column;
height: 30px;
width: 200px;

}
.column1-2{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
#circle1{
    width: 250px;
    height: 250px;
    background-blend-mode: overlay;
    margin-left: -150px;
    opacity: .4;
    background-color: rgb(241, 93, 118);
    border-radius: 50%;
    position: relative;
}
#circle2{
    display: flex;
    position: absolute;
    margin-top: -100px;
    width:200px;
    height:200px;
    background-color: rgb(243, 123, 143);
    opacity: .6;
    border-radius:50%;
    position: relative;
}
#circle3{
    display: flex;
    position: absolute;
    margin-top: 50px; 
    margin-left: 30px;
    width:150px;
    height:150px;
    background-color: purple;
    opacity: .4;
    border-radius:50%;
    
}
.surrond{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 4px; 
    border-radius: 50%;
    position: absolute;
    height: -5rem;
}
ul{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 90%;
    width: 100%;
    height: 2.5rem; 
    align-content: space-between;
    justify-content: space-evenly;
    list-style:none; 
    
}
#bottom{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    position: center;
    bottom: 10%;
    width: 10%;
    height: 2.5rem; 
}
